@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  background: linear-gradient(#0e1c26, #2a454b, #294861);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 210px;
  /* width: 100%; */
  flex: 1;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.history-box {
  position: absolute;
  left: 0px;
  top: 0;
  width: 210px;
  height: 100%;
  background-color: #25283373;
  font-size: 14px;
  z-index: -1;
  transition: all 0.25s;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
}

.history-box.active {
  left: -210px;
}

.history-title {
  padding: 20px;
  font-size: 22px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.461);
}

.history-content {
  overflow-y: scroll;
  line-height: 1.6;
}

.history-content::-webkit-scrollbar {
  width: 5px;
}

.history-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.history {
  padding: 5px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.461);
}

.history::after {
  content: "";
}

.result-box {
  background-color: #fff;
  text-align: right;
  padding: 15px;
}

.equation {
  font-size: 14px;
  font-weight: 300;
  color: #555;
  height: 22px;
  display: block;
}

.result {
  font-size: 26px;
  font-weight: 100;
  color: #000;
}

.buttons {
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: #252833;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.buttons::before,
.buttons::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 12px;
  background-color: #1d212e;
}

.buttons::before {
  left: -12px;
  z-index: 10;
}

.buttons::after {
  right: -12px;
}

.btn {
  background-color: #252833;
  padding: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  cursor: pointer;
  background-color: #343847;
}

.btn:active {
  transform: scale(0.9);
}

.btn-calc {
  background: linear-gradient(to right bottom, #f9655b, #ee821a);
  padding: 10px;
}

.btn-calc span {
  transform: scale(2.5, 2);
}

.btn-calc:hover {
  background: linear-gradient(to left top, #f9655b, #ee821a);
}

.btn-calc:active {
  transform: none;
}

/* span {
  pointer-events: none;
} */
